a {
    color: #000;
    // text-decoration: none;
}

#artworkList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.artworkItem {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    margin: 10px 0px;
    padding: 0px;
}

.artworkImage {
    padding: 0px 10px;
}

.artworkImage img {
    max-width: 100%;
    max-height: 50vw;
}

.artworkTitle {
    text-align: center;
}