<div id="artworkDetail">
    <div id="artworkImage"><a [href]="artworkUrl()"><img [src]="artworkUrl()" /></a></div>
    <div id="artworkTitle">{{ artwork?.data?.title }}</div>
    <div id="artworkArtist">{{ artwork?.data?.artist_display }}</div>
    <div id="artworkDate">{{ artwork?.data?.date_display }}</div>
    <div id="artworkDescription" [innerHTML]="artworkDescription()"></div>
    <div><label for="artworkMedium">Medium</label></div><div id="artworkMedium">{{ artwork?.data?.medium_display }}</div>
    <div><label for="artworkDimensions">Dimensions</label></div><div id="artworkDimensions">{{ artwork?.data?.dimensions }}</div>
    <div><label for="artworkStyle">Style</label></div><div id="artworkStyle">{{ artwork?.data?.style_title }}</div>
</div>