a {
    color: #000;
    // text-decoration: none;
}

#artworkImageContainer {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#artworkImageContainer #artworkImage {
    max-width: 50%;
    height: auto;
}

#artworkImage img {
    max-width: 100%;
}

#artworkDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 60%;
    margin: 0 auto;
    margin: 20px auto;
}

#artworkTitle, #artworkArtist, #artworkDate {
    text-align: center;
}

#artworkTitle, #artworkArtist, #artworkDate, #artworkDescription {
    grid-column: 1 / span 2;
}

#artworkDescription {
    grid-column: 1 / span 2;
    text-align: justify;
}

#artworkDetail label {
    margin-left: 30%;
}

#artworkNavigation {
    text-align: center;
    margin-top: 20px;
}
