<div>
    <img width="100%" [src]="artworkUrl()" />
    <h2>{{ artwork?.data?.title }}</h2>
    <p>{{ artwork?.data?.id }}</p>
    <p>{{ artwork?.data?.api_link }}</p>
    <p>{{ artwork?.data?.artist_id }}</p>
    <p>{{ artwork?.data?.description }}</p>
    <p>{{ artwork?.data?.date_display }}</p>
    <p>{{ artwork?.data?.artist_display }}</p>
    <p>{{ artwork?.data?.dimensions }}</p>
    <p>{{ artwork?.data?.medium_display }}</p>
    <p>{{ artwork?.data?.style_title }}</p>
    <p>{{ artwork?.data?.short_description }}</p>
    <p>{{ artwork?.data?.image_id }}</p>
    <p>{{ artwork?.config?.iiif_url }}</p>
</div>